# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv_medai/

# DVC cache (never commit)
.dvc/cache/

# # Locally generated processed data
# processed/
# processed_data/

# Raw data directory (DVC managed contents)
raw_data
raw_data/
.vscode

Project_flow.txt

/processed_data
/logs
/test_metrics.json
/predictions_3d
/nifti_outputs
/visualizations
checkpoints