# ---- CORE ----
absl-py
aiohttp
aiohttp-retry
aiobotocore
aioitertools
aiosignal
amqp
antlr4-python3-runtime
appdirs
asyncssh
atpublic
attrs
billiard
celery
colorama
contourpy
cryptography
cycler
dictdiffer
diskcache
distro
dpath
dulwich
filelock
flatbuffers
fonttools
frozenlist
funcy
gast
gitdb
GitPython
google-pasta
grpcio
h5py
hydra-core
jmespath
kiwisolver
Markdown
matplotlib
multidict
namex
networkx
omegaconf
protobuf
psutil
pygit2
Pygments
pygtrie
python-dotenv
PyYAML
rich
ruamel.yaml
semver
shellingham
shortuuid
six
smmap
tabulate
tqdm
typer
tzdata
urllib3
voluptuous
wcwidth
wrapt
yarl
zc.lockfile

# ---- DVC ----
dvc[s3]

# ---- ML STACK ----
numpy
tensorflow==2.15.0  # because GPU container uses 2.15
h5py
